body{
    font-family: arial;
}

.todo-grid, 
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 10px;
    align-items: center;
   
}

.todo-input-grid{
    margin-bottom: 10px;
    
}
.name-css ,.date-css{
    font-size: 15px;
    padding: 6px;
}


.add-css{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.delete-css{
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    
}

.todo-input-grid{
margin-bottom: 10px;

} 